[submodule "TestNVGMetal/MetalNanoVG"]
	path = TestNVGMetal/MetalNanoVG
	url = https://github.com/ollix/MetalNanoVG.git
[submodule "TestNVGMetal/nanovg"]
	path = TestNVGMetal/nanovg
	url = https://github.com/memononen/nanovg
[submodule "TestNVGMetal/imgui"]
	path = TestNVGMetal/imgui
	url = https://github.com/ocornut/imgui.git
